    body{
        margin: 0;
        
    }
    h2{
    
    border:solid;
    background-color:yellowgreen;
    padding: 30px;
    
    } 
    .name{
        color: yellowgreen;
        border-top: solid 3px red;
    }
    p{
        font-size: 20px;
        border-bottom:solid;
        font-weight: 900;
        background-color: rgb(184, 65, 22);
    }
    ul{
        font-size: 10px;
    }
  